   <div class="container mt-5">
      <div class="row justify-content-center">
         <div class="col-md-8 shadow rounded py-5 mt-5">
            <div class="text-container mb-5">
               <h2 class="text-center text-info bg-light rounded-4 p-3">
                  <mat-icon class="me-2">account_balance</mat-icon>
                  IN-Banking System
                </h2>
            </div>

            <div class="row mb-4 mt-5 ">
              <div class="col-md-6 justify-content-center d-flex">
                <button mat-raised-button color="primary" class="py-2 mb-3 w-75 " routerLink="/account-open" >
                  <mat-icon>add</mat-icon>
                  Open Account
                </button>
              </div>
              <div class="col-md-6 justify-content-center d-flex">
                <button mat-raised-button color="accent" class="py-2 mb-3 w-75" routerLink="/account-list">
                  <mat-icon>list</mat-icon>
                  Account List
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>


