<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 shadow rounded py-5 mt-5">
      <div class="text-container mb-4">
        <h2 class="bg-light rounded-4 p-3">
                <div class="d-flex align-items-center justify-content-center position-relative">

                  <mat-icon class="position-absolute start-0 ms-3" routerLink="/account-list">arrow_back</mat-icon>
                  <div class="text-info d-flex align-items-center justify-content-center">
                    <mat-icon class="me-2">account_balance</mat-icon>
                    <span class="text-secondary">Update User</span>
                  </div>
                </div>
              </h2>
      </div>

      <!-- Update Form -->
      <form [formGroup]="user" (ngSubmit)="onSubmit()">
        <div class="row mb-3">

          <!-- First Name -->
          <div class="col-md-6 mb-3">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" placeholder="Enter First Name" required>
              <mat-error *ngIf="user.get('firstName')?.invalid && user.get('firstName')?.touched">
                <mat-icon>error</mat-icon>
                <span *ngIf="user.get('firstName')?.hasError('required')">First Name is required</span>
                <span *ngIf="user.get('firstName')?.hasError('minlength')">At least 3 characters required</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('firstName')?.valid && user.get('firstName')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Last Name -->
          <div class="col-md-6 mb-3">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" placeholder="Enter Last Name" required>
              <mat-error *ngIf="user.get('lastName')?.invalid && user.get('lastName')?.touched">
                <mat-icon>error</mat-icon>
                <span *ngIf="user.get('lastName')?.hasError('required')">Last Name is required</span>
                <span *ngIf="user.get('lastName')?.hasError('minlength')">At least 3 characters required</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('lastName')?.valid && user.get('lastName')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Email -->
          <div class="col-md-6 mb-3">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Enter Email" required>
              <mat-error *ngIf="user.get('email')?.invalid && user.get('email')?.touched">
                <mat-icon>error</mat-icon>
                <span *ngIf="user.get('email')?.hasError('required')">Email is required</span>
                <span *ngIf="user.get('email')?.hasError('email')">Invalid Email format</span>
                <span *ngIf="user.get('email')?.hasError('invalidEmail')">Accepted format: example@gmail.com</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('email')?.valid && user.get('email')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Phone Number -->
          <div class="col-md-6 mb-3">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" placeholder="Enter Phone Number" type="number" required>
              <mat-error *ngIf="user.get('phoneNumber')?.invalid && user.get('phoneNumber')?.touched">
                <mat-icon>error</mat-icon>
                <span *ngIf="user.get('phoneNumber')?.hasError('required')">Phone Number is required</span>
                <span *ngIf="user.get('phoneNumber')?.hasError('pattern')">Must be 10 digits</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('phoneNumber')?.valid && user.get('phoneNumber')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Date of Birth -->
          <div class="col-md-6 mb-3">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="Select DOB" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="user.get('dateOfBirth')?.invalid && user.get('dateOfBirth')?.touched">
                <mat-icon>error</mat-icon>
                <span *ngIf="user.get('dateOfBirth')?.hasError('required')">Date of Birth is required</span>
                <span *ngIf="user.get('dateOfBirth')?.hasError('futureDate')">DOB cannot be in future</span>
                <span *ngIf="user.get('dateOfBirth')?.hasError('ageLimit')">Must be 18+</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('dateOfBirth')?.valid && user.get('dateOfBirth')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Aadhaar -->
          <div class="col-md-6 mb-3" formGroupName="account">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Aadhaar Number</mat-label>
              <input matInput formControlName="aadhaarNumber" placeholder="Enter Aadhaar Number" required>
              <mat-error *ngIf="user.get('account.aadhaarNumber')?.invalid && user.get('account.aadhaarNumber')?.touched">
                <mat-icon>error</mat-icon>
                <span *ngIf="user.get('account.aadhaarNumber')?.hasError('required')">Aadhaar is required</span>
                <span *ngIf="user.get('account.aadhaarNumber')?.hasError('pattern')">Must be 12 digits</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('account.aadhaarNumber')?.valid && user.get('account.aadhaarNumber')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Account Type -->
          <div class="col-md-6 mb-3" formGroupName="account">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Account Type</mat-label>
              <mat-select formControlName="accountType" required>
                <mat-option value="SAVING">Savings</mat-option>
                <mat-option value="CURRENT">Current</mat-option>
                <mat-option value="SALARY">Salary</mat-option>
              </mat-select>
              <mat-error *ngIf="user.get('account.accountType')?.invalid && user.get('account.accountType')?.touched">
                <span *ngIf="user.get('account.accountType')?.hasError('required')">Account Type is required</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('account.accountType')?.valid && user.get('account.accountType')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Address Fields -->
          <div class="col-md-6 mb-3" formGroupName="address">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street" placeholder="Enter Street" required>
              <mat-error *ngIf="user.get('address.street')?.invalid && user.get('address.street')?.touched">
                <mat-icon>error</mat-icon>
                <span>Street is required</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('address.street')?.valid && user.get('address.street')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6 mb-3" formGroupName="address">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" placeholder="Enter City" required>
              <mat-error *ngIf="user.get('address.city')?.invalid && user.get('address.city')?.touched">
                <mat-icon>error</mat-icon>
                <span>City is required</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('address.city')?.valid && user.get('address.city')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6 mb-3" formGroupName="address">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" placeholder="Enter State" required>
              <mat-error *ngIf="user.get('address.state')?.invalid && user.get('address.state')?.touched">
                <mat-icon>error</mat-icon>
                <span>State is required</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('address.state')?.valid && user.get('address.state')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6 mb-3" formGroupName="address">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country" placeholder="Enter Country" required>
              <mat-error *ngIf="user.get('address.country')?.invalid && user.get('address.country')?.touched">
                <mat-icon>error</mat-icon>
                <span>Country is required</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('address.country')?.valid && user.get('address.country')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6 mb-3" formGroupName="address">
            <mat-form-field class="col-md-6 full-width" appearance="outline">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="postalCode" placeholder="Enter Zip Code" type="number" required>
              <mat-error *ngIf="user.get('address.postalCode')?.invalid && user.get('address.postalCode')?.touched">
                <mat-icon>error</mat-icon>
                <span *ngIf="user.get('address.postalCode')?.hasError('pattern')">Must be 6 digits</span>
                <span *ngIf="user.get('address.postalCode')?.hasError('required')">Postal Code is required</span>
              </mat-error>
              <mat-hint class="text-success" *ngIf="user.get('address.postalCode')?.valid && user.get('address.postalCode')?.touched">
                <mat-icon>check_circle</mat-icon>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Submit + Reset -->
          <div class="col-md-6 mb-3">
            <button mat-raised-button color="primary" type="submit" class="w-100" [disabled]="user.invalid">
              Update
            </button>
          </div>
          <div class="col-md-6 mb-3">
            <button mat-raised-button color="warn" type="reset" class="w-100" (click)="user.reset()">
              Reset
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
