.full-width {
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

/* Add a subtle "lift" effect on hover for the form fields */
.full-width:hover {
  transform: translateY(-2px);
}


/* Style for the main submission button to make it more prominent */
button[mat-raised-button] {
  /* padding: 10px 32px; */
  font-size: 1.1rem;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
